In [16]:
import pandas as pd
import numpy as np
from sklearn import svm

In [17]:
df = pd.read_pickle("./2020.09.20.09.03.29.pkl")

In [18]:
regr = svm.SVR()
regr = regr.fit(df['Board'].tolist(), df['DiskHeight'].tolist())

In [19]:
df['Estimate'] = regr.predict(df['Board'].tolist())

In [20]:
df.loc[df['DiskHeight'] == df['Estimate']]

Empty DataFrame
Columns: [Board, DiskHeight, Estimate]
Index: []

In [27]:
df.loc[df['Estimate']<3]

                                                  Board DiskHeight  Estimate
331   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...          3  2.899703
332   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...          3  2.899703
333   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...          4  2.899703
334   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...          3  2.899703
335   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...          3  2.899703
...                                                 ...        ...       ...
1998  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...          1  1.100004
1999  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...          1  1.100004
2000  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...          1  1.100004
2001  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...          1  1.100004
2002  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...          2  1.100004

[524 rows x 3 columns]

In [28]:
import pickle

In [29]:
pickle.dump( regr, open( "svm.pkl", "wb" ) )